.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}
.bg-color{
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}
h3 {
    color: white;
}

.page-wrapper {
    background: #eee;
    min-height: 100vh;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}


.btn-main {
    width: 150px;
    margin: 20px;
  }

  .right-section {
    /* Add your styles for the right section */
    display: flex;
    align-items: center;
    margin-right: 10px;
    color: white;
  }

  .container-fluid {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .dropdown-menu-end {
    right: 10px;
    left: auto;
    width: 100px;
    text-align: center;
  }